{% extends 'base/base.html' %}

{% load static %}

{% block title %}Mercado Sena{% endblock %}

{% block content %}
<div class="container bg-white d-flex flex-column align-items-center justify-content-center h-100 pt-5" style="border-radius:52px;">

    
    <div class="segunda-Logo pb-4">

        <a class="link-topbar d-flex align-items-center" href="">
            
            <div class=" d-flex align-items-center">
                <img id="logo_nav"src="{%static 'assets/IMG/logo.png' %}" width="150" alt="Logo Mercadinho Sena">                    
            </div>
            
        </a>
    </div>

    <br>
    <div class="tab-content w-100" id="myTabContent">

        <div class="w-100">
            <div class="w-25 pb-4">
        
                <a class="nav-link bg-primary rounded-4 text-white text-center" href="{% url "index" %}" role="tab"
                aria-controls="menuIndex" aria-selected="true" style="width: 10rem;">
                    <span class="text-center" style="font-size: 20px;" class="text-white">Voltar</span> 
                </a>
            </div>
        </div>

    </div>
</div>


{% endblock %}