{% extends "base/baseOption.html" %}

{% block containerOption %}
    <div class="d-flex justify-content-start">

        <a class="bg-success p-2 mx-2 rounded-4 text-white text-center" id="listarClientes" style="text-decoration: none; width: 12rem;">
            <span class="text-center" style="font-size: 20px;" class="text-white"><i class="fa-solid fa-users"></i> Listar Clientes</span> 
        </a>

        <a class="bg-success p-2 mx-2 rounded-4 text-white text-center" id="novoCliente" style="text-decoration: none; width: 12rem;" data-bs-toggle="modal" data-bs-target="#modalCreateCliente">
            <span class="text-center" style="font-size: 20px;" class="text-white"><i class="fa-solid fa-user-plus"></i> Novo Cliente</span> 
        </a>
    </div>

    {% include "modais/modalCreateCliente.html" %}

    <div class="mt-4">
        <ul id="listClientes" style="list-style-type: none;">
            
        </ul>
    </div>
{% endblock containerOption %}