{% extends 'base/base.html' %}

{% load static %}

{% block title %}Mercado Sena{% endblock %}

{% block content %}


<div class="container bg-white d-flex flex-column align-items-center justify-content-top h-100 pt-5" style="border-radius:52px;">

    <!-- Tab menu -->
    <div class="tab-content w-100" id="tabHome" role="tab-main" aria-labelledby="tabHome-tab">

        <!-- Tab do Menu Index-->
        <div class="tab-pane inside-tab fade active show" id="menuIndex" role="tabpanel" aria-labelledby="menuIndex-tab">
            {% include 'menuIndex.html' %}
        </div>
    
        <!-- Tab de Clientes -->
        <div class="tab-pane inside-tab fade" id="clientes" role="tabpanel" aria-labelledby="clientes-tab">
            {% include 'clientes.html' %}
        </div>

        <!-- Tab de Vendas -->
        <div class="tab-pane inside-tab fade" id="vendas" role="tabpanel" aria-labelledby="vendas-tab">
            {% include 'vendas.html' %}
        </div>

        <!-- Tab de controleEstoque -->
        <div class="tab-pane inside-tab fade" id="controleEstoque" role="tabpanel" aria-labelledby="controleEstoque-tab">
            {% include 'controleEstoque.html' %}
        </div>
    </div>

</div>

<script src="{% static "assets/JS/tabIndex.js" %}"></script>
<script src="{% static "assets/JS/apiGetClientes.js" %}"></script>
<script src="{% static "assets/JS/apiGetProdutos.js" %}"></script>
<script src="{% static "assets/JS/apiCreateProduto.js" %}"></script>
<script src="{% static "assets/JS/apiCreateCliente.js" %}"></script>
<script src="{% static "assets/JS/apiUpdateProdutos.js" %}"></script>

{% endblock%}
