<div class="menu">
    <div class="row">

        <div class="row">

            <div class="col">
                <a class="nav-link" id="vendas-tab" href="#vendas" role="tab"
                aria-controls="vendas" aria-selected="true">
                    <div class="card shadow rounded-4 bg-primary text-white mb-4">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h1 class="text-center py-5" style="font-size: 40px;" class="text-white">Vendas</h1> 
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a class="nav-link" id="clientes-tab" href="#clientes" role="tab"
                aria-controls="clientes" aria-selected="true">
                    <div class="card shadow rounded-4 bg-success text-white text-center mb-4">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h1 class="text-center py-5" style="font-size: 40px;" class="text-white">Clientes</h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card shadow rounded-4 bg-warning text-white mb-4">
                    <div class="card-body align-items-center d-flex justify-content-center" style="">
                        <div style="display: table; height: 180px; overflow: hidden;">
                            <div style="display: table-cell; vertical-align: middle;">
                                <h1 class="text-center py-5" style="font-size: 40px;" class="text-white">Opções do Caixa</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow rounded-4 bg-secondary text-white mb-4">
                    <div class="card-body align-items-center d-flex justify-content-center" style="">
                        <div style="display: table; height: 180px; overflow: hidden;">
                            <div style="display: table-cell; vertical-align: middle;">
                                <h1 class="text-center py-5" style="font-size: 40px; vertical-align: center" class="text-white">Controle de Estoque</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>