<div class="menu">
    <div class="row">

        <div class="row">

            <div class="col">
                <a class="nav-link" id="vendas-tab" href="#vendas" role="tab"
                aria-controls="vendas" aria-selected="true">
                    <div class="card shadow rounded-4 bg-primary text-white mb-4">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h1 class="text-center py-5" style="font-size: 40px;" class="text-white"><i class="fa-solid fa-cart-shopping"></i> Vendas</h1> 
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a class="nav-link" id="clientes-tab" href="#clientes" role="tab"
                aria-controls="clientes" aria-selected="true">
                    <div class="card shadow rounded-4 bg-success text-white text-center mb-4">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h1 class="text-center py-5" style="font-size: 40px;" class="text-white"><i class="fa-solid fa-people-group"></i> Clientes</h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a class="nav-link" id="opcoesCaixa-tab" href="#opcoesCaixa" role="tab"
                aria-controls="opcoesCaixa" aria-selected="true">
                    <div class="card shadow rounded-4 bg-warning text-white mb-4">
                        <div class="card-body align-items-center d-flex justify-content-center" style="">
                            <div style="display: table; height: 180px; overflow: hidden;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    <h1 class="text-center py-5" style="font-size: 40px;" class="text-white"><i class="fa-solid fa-gears"></i> Valores do Caixa</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a class="nav-link" id="controleEstoque-tab" href="#controleEstoque" role="tab"
                aria-controls="controleEstoque" aria-selected="true">
                    <div class="card shadow rounded-4 bg-secondary text-white mb-4">
                        <div class="card-body align-items-center d-flex justify-content-center" style="">
                            <div style="display: table; height: 180px; overflow: hidden;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    <h1 class="text-center py-5" style="font-size: 40px; vertical-align: center" class="text-white"><i class="fa-solid fa-clipboard-list"></i> Controle de Estoque</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>
