<input type="hidden" name="IdVenda" id="IdVenda">
<input type="hidden" name="vendedorId" id="vendedorId" value="{{request.user.id}}">
<div class="container-pdv pb-5">
    <div class="d-flex justify-content-evenly pt-3">
        <div class="d-flex justify-content-between" style="width:70vw;">
            <div class="card shadow rounded-4 text-black mb-4" style="min-height: 7.5rem; width:65%;">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <p id="produto-nome" class="text-start mb-0" style="font-size: 30px;"></p> 
                </div>
            </div>
            <div class="card shadow rounded-4 text-black mb-4" style="min-height: 7.5rem; width:30%;">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <input type="text" id="produto-codigo" class="text-start form-control mb-0" style="font-size: 40px;"></input> 
                </div>
            </div>
        </div>
        <div style="width:20vw;">
            <div class="card shadow rounded-4 text-black mb-4" style="min-height: 7.5rem;">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h6 class="text-center" style="font-size: 24px; margin-bottom: 0px;">Quantidade:</h6>
                    <input type="number" id="produto-quantidade" value="1" min="1" max="100" class="form-control text-center mb-0 mx-auto" style="font-size: 36px;"></input>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-evenly">

        <div class="card shadow rounded-4 text-black mb-4" style="width:70vw; min-height:55vh; max-height:55vh; overflow-y: scroll; overflow-x:hidden;">
            <ul id="listItemVenda" style="list-style-type: none; padding-left: 0px;">
            
            </ul>
        </div>

        <div class="produto-infos" style="width:20vw;">

            <div style="">
                <div class="card shadow rounded-4 text-black mb-2" style="min-height: 7.5rem;">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h6 class="text-center" style="font-size: 24px; margin-bottom: 0px;">Valor Unitário:</h6>
                        <p class="text-center mb-0" style="font-size: 36px;"><span id="produto-valor-unitario"> R$ 0,00 </span></p>
                    </div>
                </div>
            </div>

            <div style="">
                <div class="card shadow rounded-4 text-black mb-2" style="min-height: 7.5rem;">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h6 class="text-center" style="font-size: 24px; margin-bottom: 0px;">Valor Total do Item:</h6>
                        <p class="text-center mb-0" style="font-size: 36px;"><span id="produto-valor-total-item"> R$ 0,00 </span></p>
                    </div>
                </div>
            </div>

            <div style="">
                <div class="card shadow rounded-4 text-black mb-2" style="min-height: 7.5rem;">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h6 class="text-center" style="font-size: 24px; margin-bottom: 0px;">Desconto à vista:</h6>
                        <p class="text-center mb-0" style="font-size: 36px;"><span id="produto-descontos"> R$ 0,00 </span></p>
                    </div>
                </div>
            </div>

            <div style="">
                <div class="card bg-success shadow rounded-4 text-white mt-5 mb-4" style="min-height: 10rem;">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h6 class="text-center" style="font-size: 24px; margin-bottom: 0px;"><i class="fa-solid text-white fa-cart-shopping"></i> Valor Total:</h6>
                        <p class="text-center mb-0" style="font-size: 36px;"><span id="venda-valor-total">R$ 0,00 </span></p>
                        <input type="hidden" id="venda-valor-total-input" name="venda-valor-total-input">
                        <input type="hidden" id="venda-valor-desconto-input" name="venda-valor-desconto-input">
                        <input type="hidden" id="venda-valor-original" name="venda-valor-original">
                        <input type="hidden" id="produto-descontos-original" name="produto-descontos-original">
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% include "modais/modalSelectCliente.html" %}
    {% include "modais/modalFinalizarVenda.html" %}

    <div class="d-flex justify-content-evenly pb-4">
        <div class="card shadow rounded-4 text-black mb-4" style="min-height: 7.5rem; width:30vw;">
            <div class="card-body align-items-center d-flex justify-content-center">
                <input type="hidden" name="client-comprando-id" id="client-comprando-id" value="">
                <input type="hidden" name="client-comprando-nome" id="client-comprando-nome" value="">
                <input type="hidden" name="client-comprando-cpf" id="client-comprando-cpf" value="">

                <p id="cliente-nome" class="text-start mb-0" style="font-size: 30px;"></p> 
            </div>
        </div>
        <div class="btn-selecionar-cliente-venda card shadow rounded-4 bg-success text-white mb-4" data-bs-toggle="modal" data-bs-target="#modalSelectCliente" style="width:18vw; min-height: 5.5rem;">
            <div class="card-body d-flex flex-column justify-content-center">
                <h6 class="text-center" style="font-size: 26px; margin-bottom: 0px;"><i class="fa-solid text-white fa-list-ul"></i> Selecionar Cliente</h6>
            </div>
        </div>

        <div class="btn-remover-item-venda card shadow rounded-4 bg-primary text-white mb-4" style="width:18vw; min-height: 5.5rem;">
            <div class="card-body d-flex flex-column justify-content-center">
                <h6 class="text-center" style="font-size: 26px; margin-bottom: 0px;"><i class="fa-solid text-white fa-trash"></i> Remover Produto</h6>
            </div>
        </div>

        <div class="btn-finalizar-venda card shadow rounded-4 bg-danger text-white mb-4"  data-bs-toggle="modal" data-bs-target="#modalFinalizarVenda" style="width:18vw; min-height: 5.5rem;">
            <div class="card-body d-flex flex-column justify-content-center">
                <h6 class="text-center" style="font-size: 26px; margin-bottom: 0px;"><i class="fa-solid text-white fa-sack-dollar"></i> Finalizar Compra</h6>
            </div>
        </div>
    </div>

</div>