{% extends "base/baseOption.html" %}

{% block containerOption %}

    <div class="row">

        <a class="nav-link" style="width: 45%; margin-left: auto; margin-right: auto;" id="pdv-tab" href="#pdv" role="tab"
        aria-controls="pdv" aria-selected="true">
            <div class="card shadow rounded-4 bg-success text-white mb-4">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <h1 class="text-center" style="font-size: 40px; padding-top: 10rem; padding-bottom: 10rem;" class="text-white">
                        <i class="fa-solid fa-cart-plus"></i> 
                        Nova Venda
                    </h1> 
                </div>
            </div>
        </a>
        <a class="nav-link" style="width: 45%; margin-left: auto; margin-right: auto;" id="listarVendas-tab" href="#listarVendas" role="tab"
        aria-controls="listarVendas" aria-selected="true">
            <div class="card shadow rounded-4 bg-primary text-white text-center mb-4">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <h1 class="text-center" style="font-size: 40px; padding-top: 10rem; padding-bottom: 10rem;" class="text-white">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                        Consultar Vendas
                    </h1>
                </div>
            </div>
        </a>
    </div>

{% endblock containerOption %}