<!-- Modal -->
<div class="modal fade" id="modalEditProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditProductLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditProductLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column">
            {% csrf_token %}
            <div class="d-flex flex-column mb-1">
                <label class="form-label" for="idProduto">Id do Produto</label>
                <input class="form-control" type="text" name="idProduto" id="idProduto" value="" disabled>
            </div>
            
            <div class="d-flex flex-column mb-1">
                <label class="form-label" for="nomeProduto">Nome do Produto</label>
                <input class="form-control" type="text" name="nomeProduto" id="nomeProduto" value="">
            </div>

            <div class="d-flex flex-column mb-3">
                <label class="form-label" for="codigoProduto">Código do Produto</label>
                <input class="form-control mb-0" type="text" name="codigoProduto" id="codigoProduto" value="" disabled>
            </div>

            <div class="d-flex flex-column mb-3">
                <label class="form-label" for="estoqueProduto">Estoque do Produto</label>
                <input class="form-control mb-0" type="number" name="estoqueProduto" id="estoqueProduto" value="">
                <div class="form-text">Unidades ou KGs</div>
            </div>

            <div class="d-flex flex-column mb-1">
                <label class="form-label" for="precoProduto">Preço do Produto</label>
                <input class="form-control" type="number" name="precoProduto" id="precoProduto" step="0.01" value="">
            </div>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary btn-submit-product">Editar</button>
        </div>
    </div>
    </div>
</div>